<div class="row mt-5">
  <div class="d-flex align-items-center">
    <div class="col-sm-6 bg-primary text-white text-center p-5">
      <h4 class="pb-2 display-4">Open Timeclock</h4>
      <a href="dashboard" class="btn btn-outline-light" type="button">TimeClock</a>
    </div>
    <div class="col-sm-5 text-center p-5 bg-white">
      <h4 class="pb-3">Sign In Administrator</h4>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="username" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="password" />
        </div>
        <div class="form-group">
          <button class="btn btn-outline-primary">Sign In </button>
        </div>
      </form>
    </div>
  </div>
</div>